body{
	background:#9966ff;
}
.box{
	position:relative;
	margin:auto;
	display:block;
	margin-top:8%;
	width:600px;
	height:450px;
	background:none;
	border: 2px solid black;
}

.body{
	background: rgb(227,95,29);
	position: absolute;
	top: 34%;
	left: 33%;
	width:34%;
	height:61%;
	border-radius:50%;
}
.body-copy{
	background: radial-gradient(rgb(236,147,102),rgb(182,75,22));
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	border-radius:50%;
	z-index: 2;
}
.head{
	background: rgb(227,95,29);
	position: absolute;
	top: -37%;
	left: 0%;
	width:100%;
	height:58%;
	border-radius:50%;
}
.head-copy{
	background: radial-gradient(rgb(236,147,102),rgb(232,124,70),rgb(227,95,29));
	position: absolute;
	top: 0%;
	left: 0%;
	width:100%;
	height:100%;
	border-radius:50%;
	z-index:2
}
.ear-left{
	background: linear-gradient(127deg,rgb(182,75,22),rgb(227,95,29),rgb(232,124,70),rgb(236,147,102));
	position: absolute;
	top: -31%;
	left: -4%;
	width: 43%;
	height: 115%;
	border-radius:50%;
}
.inner-left{
	background: white;
	position: absolute;
	top: 7%;
	left: 13%;
	width: 72%;
	height: 80%;
	border-radius:50%;
}
.ear-right{
	background: linear-gradient(-127deg,rgb(182,75,22),rgb(227,95,29),rgb(232,124,70),rgb(236,147,102));
	position: absolute;
	top: -31%;
	right: -4%;
	width: 43%;
	height: 115%;
	border-radius:50%;
}
.inner-right{
	background: white;
	position: absolute;
	top: 7%;
	right: 13%;
	width: 72%;
	height: 80%;
	border-radius:50%;
}
.chin{
	background: white;
	position: absolute;
	top: 10%;
	right: 20%;
	width: 60%;
	height: 60%;
	border-radius:50%;
}
.chin-outer{
	background: radial-gradient(rgb(236,147,102),rgb(232,124,70),rgb(227,95,29));
	position: absolute;
	top: 40%;
	right: 10%;
	width: 80%;
	height: 64%;
	border-radius:50%;
	z-index:3;
}
.nose{
	background: black;
	position: absolute;
	top: 6%;
	right: 30%;
	width: 40%;
	height: 35%;
	border-radius:50%;
}
.cheek-left{
	background: white;
	position: absolute;
	top: 38%;
	right: 61%;
	width: 40%;
	height: 47%;
	border-radius:50%;
	z-index:3
}
.cheek-right{
	background: white;
	position: absolute;
	top: 38%;
	left: 61%;
	width: 40%;
	height: 47%;
	border-radius:50%;
	z-index:3
}
.eye-right{
	background: black;
	position: absolute;
	top: 27%;
	left: 58%;
	width: 20%;
	height: 18%;
	border-radius:50%;
	z-index:3
}
.eye-left{
	background: black;
	position: absolute;
	top: 27%;
	right: 58%;
	width: 20%;
	height: 18%;
	border-radius:50%;
	z-index:3
}
.reflection{
	background: white;
	position: absolute;
	top: 27%;
	left: 58%;
	width: 20%;
	height: 18%;
	border-radius:50%;
}
.lower-body{
	background: linear-gradient(to right,rgb(187,78,23),black,rgb(187,78,23));
	position: absolute;
	top: 33%;
	right: -11%;
	width: 122%;
	height: 66%;
	border-radius: 43%;
	z-index:1;
}
.foot-left{
	background: linear-gradient(to left,rgb(48,48,48),rgb(82,82,82));
	position: absolute;
	top: 75%;
	right: 66%;
	width: 27%;
	height: 28%;
	border-radius: 43%;
}
.foot-right{
	background: linear-gradient(to right,rgb(48,48,48),rgb(82,82,82));
	position: absolute;
	top: 75%;
	left: 66%;
	width: 27%;
	height: 28%;
	border-radius: 43%;
}
.arm-left{
	background: linear-gradient(rgb(236,147,102) 1%,rgb(182,75,22),rgb(48,48,48) 75%);
	position: absolute;
	top: 48%;
	left: 18%;
	width: 30%;
	height: 52%;
	border-radius:42%;
	z-index: 2;
}
.arm-right{
	background: linear-gradient(rgb(236,147,102) 1%,rgb(182,75,22),rgb(48,48,48) 75%);
	position: absolute;
	top: 48%;
	right: 18%;
	width: 30%;
	height: 52%;
	border-radius:42%;
	z-index: 2;
}
.paw{
	background: rgb(48,48,48);
	position: absolute;
	top: 74%;
	right: -6%;
	width: 112%;
	height: 34%;
	border-radius:42%;
	z-index: 2;
}